/poetry.lock     linguist-generated
/version.py      linguist-generated
/exasol/analytics/resources/outputs/create_query_loop.sql linguist-generated

# PTB GitHub Workflows (CI/CD & Publishing)
/.github/workflows/build-and-publish.yml     linguist-generated
/.github/workflows/cd.yml                    linguist-generated
/.github/workflows/check-release-tag.yml     linguist-generated
/.github/workflows/ci.yml                    linguist-generated
/.github/workflows/gh-pages.yml              linguist-generated
/.github/workflows/matrix-*.yml              linguist-generated
/.github/workflows/merge-gate.yml            linguist-generated
/.github/workflows/pr-merge.yml              linguist-generated
/.github/workflows/report.yml                linguist-generated

# Manually modified files:

# /.github/workflows/checks.yml -- Contains additional jobs for code generation and lua tests
# /.github/workflows/slow-checks.yml -- individual content
