[tool.poetry]
name = "exasol-advanced-analytics-framework"
version = "0.1.0"
description = "Framework for building complex data analysis algorithms with Exasol"

authors = [
    	"Umit Buyuksahin <umit.buyuksahin@exasol.com>",
    	"Torsten Kilias <torsten.kilias@exasol.com>"
]

readme = 'README.md'

repository = "https://github.com/exasol/advanced-analytics-framework"
homepage = "https://github.com/exasol/advanced-analytics-framework"


keywords = ['exasol']

[tool.poetry.dependencies]
python = ">=3.8,<4.0"
Jinja2 = "^3.0.3"
importlib-resources = "^5.4.0"
exasol-bucketfs-utils-python = { git = "https://github.com/exasol/bucketfs-utils-python.git", branch = "main" }
exasol-data-science-utils-python = {git = "https://github.com/exasol/data-science-utils-python.git", rev = "main"}
click = "^8.0.4"
pyexasol = "^0.25.0"
pandas = "^1.1.0"
pydantic = "^1.10.2"
pyzmq = "^24.0.1"
sortedcontainers = "^2.4.0"
structlog = "^22.1.0"

[tool.poetry.dev-dependencies]
pytest = "^7.1.2"
poethepoet = "^0.13.0"
pytest-assume = "^2.4.3"
exasol-udf-mock-python = { git = "https://github.com/exasol/udf-mock-python.git", branch = "master" }
pytest-cov = "^3.0.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poe.tasks]
lua-tests = {"shell" = "bash ./scripts/lua_tests.sh"}