name: Build and test project

on: [ push ]

jobs:
  build_and_test:
    strategy:
      fail-fast: false
      matrix:
        python-version: [ 3.8 ]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup Python & Poetry Environment
        uses: ./.github/actions/prepare_poetry_env

      - name: Install Lua environment
        run: poetry run -- nox -s install_lua_environment

      - name: Poetry install
        run: poetry run -- nox -s run_in_dev_env -- poetry install

      - name: Run Lua unit tests and static code analyzer
        run: poetry run -- nox -s run_in_dev_env -- ./scripts/lua_tests.sh

      - name: Run Python unit tests
        run: poetry run -- nox -s run_python_unit_tests

      - name: Run Python integration tests without db
        run: poetry run -- nox -s run_python_integration_tests_without_db

      - name: Build language container
        run: poetry run -- nox -s build_language_container

      - name: Start test environment
        run: poetry run -- nox -s start_integration_test_environment

      - name: Run Python integration tests with db
        run: poetry run -- nox -s run_python_integration_tests_with_db
