name: Check packaging of the python package

on:
  push:
    branches-ignore:
      - main

jobs:
  check_packaging:
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.10" ]
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup Python & Poetry Environment
      uses: ./.github/actions/prepare_poetry_env

    - name: Install Lua environment
      run: ./scripts/install_lua_environment.sh

    - name: Poetry install
      run: ./scripts/run_in_dev_env.sh poetry install

    - name: Run packaging update
      # re-generates / amalgate the lua script
      # refactor pre-commit as nox task
      # and call in pre-commit
      run: bash ./githooks/pre-commit

    - name: Show changes on working copy
      # check if re-generated lua script is still up-to-date
      run: git status --porcelain=v1 -uno

    - name: Show diff on working copy
      run: git diff --cached

    - name: Check if packaging changed
      run: |
        [ -z "$(git status --porcelain=v1 -uno 2>/dev/null)" ]
