name: Check Code Generation

on:
  push:
    branches-ignore:
      - main

jobs:
  check_code_generation:
    name: Lua Amalgate
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.10" ]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python & Poetry Environment
        uses: exasol/python-toolbox/.github/actions/python-environment@0.14.0
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Development Environment
        run: poetry run -- nox -s install_dev_env

      - name: Poetry install
        run: poetry run -- nox -s run_in_dev_env -- poetry install

      - name: Run Lua amalgation
        # re-generates / amalgate the lua script
        # refactor pre-commit as nox task
        # and call in pre-commit
        run: bash ./githooks/pre-commit

      - name: Show differences
        run: |
          git status --porcelain=v1 --untracked-files=no

      - name: Fail if re-generated files differ from commit
        run: |
          if [ -n "$(git status --untracked-files=no)" ]; then
              git diff --cached
              false
          fi
