name: Check packaging of the python package

on: [push, pull_request]

jobs:
  check_packaging:
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8]
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - uses: abatilo/actions-poetry@v2.0.0
      with:
        poetry-version: 1.1.4

    - name: Install Lua environment
      run: ./scripts/install_lua_environment.sh

    - name: Poetry install
      run: ./scripts/run_in_conda.sh poetry env use python3.8

    - name: Poetry install
      run: ./scripts/run_in_conda.sh poetry install

    - name: Run packaging update
      run: bash ./githooks/pre-commit

    - name: Show changes on working copy
      run: git status --porcelain=v1 -uno
    - name: Show diff on working copy
      run: git diff --cached; cat setup.py
    - name: Check if setup.py changed
      run: |
        [ -z "$(git status --porcelain=v1 -uno 2>/dev/null)" ]

    - name: Check if setup.py works
      run: pip install .
