name: Check Code Generation

on:
  workflow_call:

jobs:
  check_code_generation:
    name: Lua Amalgate
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python & Poetry Environment
        uses: exasol/python-toolbox/.github/actions/python-environment@1.7.0
        with:
          python-version: "3.10"
          poetry-version: "2.1.2"

      - name: Install Development Environment
        run: poetry run -- nox -s devenv:install

      - name: Poetry Install
        run: poetry run -- nox -s devenv:run -- poetry install

      - name: Amalgate Lua Scripts
        run: poetry run -- nox -s lua:amalgate

      - name: Check if Re-Generated Files Differ From Commit
        run: git diff --exit-code
