name: Check packaging of the python package

on: [push]

jobs:
  check_packaging:
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8]
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup Python & Poetry Environment
      uses: ./.github/actions/prepare_poetry_env

    - name: Install Lua environment
      run: ./scripts/install_lua_environment.sh

    - name: Poetry install
      run: ./scripts/run_in_dev_env.sh poetry install

    - name: Run packaging update
      run: bash ./githooks/pre-commit

    - name: Show changes on working copy
      run: git status --porcelain=v1 -uno

    - name: Show diff on working copy
      run: git diff --cached
