name: Checks

on: workflow_call

jobs:

  version-check-job:
    name: Version Check
    runs-on: ubuntu-latest

    steps:
      - name: SCM Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Python & Poetry Environment
        uses: exasol/python-toolbox/.github/actions/python-environment@0.14.0
        with:
          python-version: "3.10"
          poetry-version: 2.0.1

  lint-job:
    name: Linting (Python-${{ matrix.python-version }})
    needs: [version-check-job]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10"]

    steps:
      - name: SCM Checkout
        uses: actions/checkout@v4

      - name: Setup Python & Poetry Environment
        uses: exasol/python-toolbox/.github/actions/python-environment@0.14.0
        with:
          python-version: ${{ matrix.python-version }}
          poetry-version: 2.0.1

      - name: Run Tests
        run: poetry run nox -s lint

  type-check-job:
    name: Type Checking (Python-${{ matrix.python-version }})
    needs: [version-check-job]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10"]

    steps:
      - name: SCM Checkout
        uses: actions/checkout@v4

      - name: Setup Python & Poetry Environment
        uses: exasol/python-toolbox/.github/actions/python-environment@0.14.0
        with:
          python-version: ${{ matrix.python-version }}
          poetry-version: 2.0.1

      - name: Run Tests
        run: poetry run nox -s type-check

  unit-tests:
    name: Unit Tests
    uses: ./.github/workflows/tests-unit.yml
    secrets: inherit
    with:
      python-version: "3.10"
