name: Lua Tests

on:
  workflow_call:

jobs:
  Lua-Tests:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python & Poetry Environment
        uses: exasol/python-toolbox/.github/actions/python-environment@v1
        with:
          python-version: "3.10"
          poetry-version: "2.1.2"

      - name: Install Development Environment
        run: poetry run -- nox -s devenv:install

      - name: Poetry Install
        run: poetry run -- nox -s devenv:run -- poetry install

      - name: Run Lua Unit Tests
        run: poetry run -- nox -s lua:unit-tests
