name: Slow-Checks

on:
  workflow_call:

jobs:
  slow-check-approval:
    name: Slow Check Approval
    runs-on: ubuntu-24.04
    # Even though the environment "manual-approval" will be created automatically,
    # it still needs to be configured to require interactive review.
    # See project settings on GitHub (Settings / Environments / manual-approval).
    environment: manual-approval
    steps:
      - name: Slow Test Approval
        run: "echo Slow Test Approval"

  run-itests-no-db:
    name: iTests (no DB)
    needs: [slow-check-approval]
    uses: ./.github/workflows/tests-integration-no-db.yml
    secrets: inherit
    with:
      python-version: "3.10"

  run-itests-with-db:
    name: iTests (with DB)
    needs: [slow-check-approval]
    uses: ./.github/workflows/tests-integration-db.yml
    secrets: inherit
    with:
      python-version: "3.10"
