name: Run Integration Tests w/o DB

on:
  workflow_call:
    inputs:
      python-version:
        type: string
        required: true

jobs:

  testmatrix:
    name: Prepare Parallelization Matrix
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python & Poetry Environment
        uses: exasol/python-toolbox/.github/actions/python-environment@1.7.0
        with:
          python-version: ${{ inputs.python-version }}
          poetry-version: 2.1.2

      - id: generate_matrix
        name: Generate List of Integration Tests Without Database
        run: |
          poetry run -- nox -s matrix:no-db >> "$GITHUB_OUTPUT"
    outputs:
      files: ${{ steps.generate_matrix.outputs.files }}

  run_test:
    name: Run ${{ matrix.file.short }}
    needs: testmatrix
    strategy:
      fail-fast: false
      matrix:
        file: ${{ fromJSON(needs.testmatrix.outputs.files) }}
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python & Poetry Environment
        uses: exasol/python-toolbox/.github/actions/python-environment@1.7.0
        with:
          python-version: ${{ inputs.python-version }}
          poetry-version: 2.1.2

      - name: Poetry install
        run: poetry run -- nox -s devenv:run -- poetry install

      - name: Run Pytest
        # See Developer Guide on nox session itests:no-db
        run: >
          poetry run -- nox -s devenv:pytest --
          ${{ matrix.file.path }}
          -o log_cli=true -o log_cli_level=INFO
