name: Run integration tests with DB

on:
  workflow_call:
    inputs:
      python-version:
        type: string
        required: true

jobs:
  build_and_test:
    runs-on: ubuntu-24.04
    name: Python iTests With DB
    steps:

      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@v1.3.0
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: false

      - uses: actions/checkout@v4

      - name: Setup Python & Poetry Environment
        uses: exasol/python-toolbox/.github/actions/python-environment@v1
        with:
          python-version: ${{ inputs.python-version }}
          poetry-version: 2.1.2

      - name: Install Development Environment
        run: poetry run -- nox -s devenv:install

      - name: Poetry install
        run: poetry run -- nox -s devenv:run -- poetry install

      - name: Poetry Export install
        run: poetry run -- nox -s devenv:run -- poetry self add poetry-plugin-export

      - name: Run Python integration tests with db
        run: >
          poetry run -- nox -s itests:with-db --
          --backend=onprem
          --setup-show
          -o log_cli=true -o log_cli_level=INFO
