name: Run integration tests without DB

on:
  workflow_call:
    inputs:
      slow-tests:
        type: boolean
        default: false
      python-version:
        type: string
        required: true

jobs:

  prepare_matrix:
    name: Prepare Matrix for integration tests without DB
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python & Poetry Environment
        uses: exasol/python-toolbox/.github/actions/python-environment@1.7.0
        with:
          python-version: ${{ inputs.python-version }}
          poetry-version: 2.1.2

      - id: generate_integration_tests_without_db
        name: "Generate list of integration tests without DB"
        run: poetry run -- nox -s write_github_integration_tests_no_db_matrix
    outputs:
      test-path: ${{ steps.generate_integration_tests_no_db.outputs.matrix }}

  run_test:
    needs: prepare_matrix
    strategy:
      fail-fast: false
      matrix:
        test-path: ${{ fromJSON(needs.prepare_matrix.outputs.test-path) }}
    runs-on: ubuntu-24.04
    name: Run ${{ matrix.test-path.name }}
    steps:
      - name: Set pytest markers
        id: pytest-markers
        if: ${{ ! inputs.slow-tests }}
        run: echo slow-tests='-m "not slow"' >> "$GITHUB_OUTPUT"

      - uses: actions/checkout@v4

      - name: Setup Python & Poetry Environment
        uses: exasol/python-toolbox/.github/actions/python-environment@1.7.0
        with:
          python-version: ${{ inputs.python-version }}
          poetry-version: 2.1.2

      - name: Poetry install
        run: poetry run -- nox -s run_in_dev_env -- poetry install

      - name: Run Python integration tests without db
        run: poetry run -- nox -s run_python_test -- ${{ matrix.test-path.path }}
        env:
          PYTEST_ADDOPTS: '-o log_cli=true -o log_cli_level=INFO ${{ steps.pytest-markers.outputs.slow-tests }}'
